/*
 Show Hidden Password
-----------------------------------*/

.imcger-pw-togglebutton {
	position: relative;
	height: 1.3em;
	width: 1.6em;
	margin-left: -2.1em;
	margin-right: 6px;
	vertical-align: middle;
	color: #555;
}
