/*
 Show Hidden Password
-----------------------------------*/

input[type="password"]::-ms-reveal {
	display: none;
}

.imcger-password, #smtp_username {
	box-sizing: border-box;
}

.imcger-password {
	padding-right: 2em;
}

.imcger-pw-togglebutton:focus {
  outline: none;
}

.imcger-pw-togglebutton {
	position: relative;
	height: 1.3em;
	width: 1.6em;
	margin-left: -1.8em;
	color: #555;
	border-color: transparent;
	background-color: transparent;
}

button[id$='_togglebutton'] .icon {
	vertical-align: middle;
	font-size: larger;
}
