/*
 Show Hidden Password
-----------------------------------*/

input[type="password"]::-ms-reveal {
	display: none;
}

#password, #new_password, #password_confirm, #username {
	box-sizing: border-box;
}

#password, #new_password, #password_confirm {
	padding-right: 2em;
}

.imcger-pw-togglebutton:focus {
  outline: none;
}
