#password {
	padding-right: 2em;
}

input[type="password"]::-ms-reveal {
	display: none;
}

#imcger-pw-toggelbutton {
	position: relative;
	left: -2em;;
	vertical-align: middle;
}

#imcger-pw-toggelbutton:focus {
  outline: none;
}
