/*
 Show Hidden Password
-----------------------------------*/

input[type="password"]::-ms-reveal {
	display: none;
}

.imcger-password, #username {
	box-sizing: border-box;
}

.imcger-password {
	padding-right: 2em;
}

.imcger-pw-togglebutton:focus {
  outline: none;
}
